html{
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

footer{
    height: 60px;
    background-color: rgb(193, 192, 192);
    text-align: center;
    line-height: 60px;
    font-size: 16px;
}

main{
    margin-top: 60px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

video{
    position: absolute;
    margin: 0;
    z-index: -1;
    background-color: black;
    background-position: center center;
    background-size: contain;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
}

#idHeader{
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(193, 192, 192);
    position: fixed;
    font-size: 5vh;
    z-index: 1000;
    align-items: center;
}


.page_title{
    margin: 0;
    padding: 0;
    left: 10px;
    top: 10px;;
    position: absolute;
    font-size: 40px;
}

#buttonRetour{
    position: fixed;
    z-index: 50;
    top: 80px;
    left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    transition: color, 0.3s ease;
}

#buttonRetour:hover{
    background-color: rgb(75, 75, 75);
    cursor: pointer;
}

#container{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

#container>*{
    flex: 1;
}

#infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#payment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}   


.art_checkout{
    height: 60px;
    display: flex;
    flex-direction: row;
    border: black 3px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.art_checkout>*{
    margin: 5px;
    flex: 1;
}

.img_article_checkout{
    border-radius: 10px;
    height: 80%;
}


label{
    text-align: center;
    color: lightcoral;
    margin: 10px;
    font-size: 20px;
    width: 80%;
}

input{
    border-radius: 10px;
    border: rgb(0, 0, 0) solid 2px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

#btnPayer{
    margin: 20px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: lightcoral;
    border: none;
}


#name_payment{
    text-align: center;
    font-size: 40px;
    color: white;
}

#price{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 40px;
    color: white;
    margin: 0;
}

