html{
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
}


body{
    width: 100%;
    height: 100%;
    margin: 0;
}

footer{
    position: absolute;
    top: 200vh;
    width: 100%;
    height: 60px;
    background-color: rgb(193, 192, 192);
    text-align: center;
    line-height: 60px;
    font-size: 16px;
}

main{
    margin-top: 60px;
    width: 100%;
    height: auto;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}


#idHeader{
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    backdrop-filter: blur(10px);
    position: fixed;
    font-size: 5vh;
    z-index: 1000;
    align-items: center;
}

.page_title {
    margin: 0;
    padding: 0;
    left: 10px;
    top: 10px;;
    position: absolute;
    font-size: 40px;
    
}

.page_title a {
    text-decoration: none;
    color: black;
}

#btnRetourHaut{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: gray;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    z-index: 1000;
}

#btnRetourHaut:hover{
    opacity: 1.0;
}

#buttonRetour{
    position: fixed;
    z-index: 50;
    top: 80px;
    left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    transition: color, 0.3s ease;
}

#buttonRetour:hover{
    background-color: rgb(75, 75, 75);
    cursor: pointer;
}

#title_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* https://grabient.com/HQVg7AnANKAMCMMQGYAcSAsYZgGyxlwCZFgTthldkZ4JsCjhYIMoNh5UIg?angle=135 */

    /* background: linear-gradient(135deg, #ffffc4 0.000%, #ff6164 50.000%, #b00012 100.000%); */
    margin: 100px 10%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

#title{
    font-size: 60px;
}

#title_below{
    font-size: 25px;
}


#intro{
    margin: 60px 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 40px;
}

#background_video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 200vh;
    object-fit: cover;
    
}


#slider{
    position: relative;
    height: 800px;
}

#slider_move{
    top: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    overflow: hidden;
}


#carroussel {
    position: relative; 
    border: solid rgba(255, 255, 255, 0.3) 1px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.7); 
    transition: box-shadow 0.5s ease;
    margin: 10%;
    border-radius: 20px;
    height: 800px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px; 
}

#carroussel_container{
    position: relative;
}

#carroussel_title{
    z-index: 10;
    padding: 20px;
    border-radius: 20px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}


#carroussel_desc{
    z-index: 10;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.glass{
    backdrop-filter: blur(15px);
    border: solid rgba(255, 255, 255, 0.3) 1px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.7); 
    transition: box-shadow 0.5s ease;
}

.glass:hover{
    box-shadow: 0 16px 32px rgba(0, 0, 0, 1);
}

#btn_carroussel_left{
    position: absolute;
    top: 50%;
    left: 5%;
}

#btn_carroussel_right{
    position: absolute;
    top: 50%;
    right: 5%;
}

.btn_carroussel{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform, 0.3s ease;
    font-size: 20px;
}

.btn_carroussel:hover{
    transform: translateY(-5px);
}

#link_wikipedia{
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover;
    border-radius: 20px;
}

#img_link_wikipedia{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#img_link_wikipedia:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.7);
}

#balise_haut{
    position: absolute;
    top: 0;
}