html{
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}

footer{
    margin-top: 100px;
    height: 60px;
    background-color: rgb(193, 192, 192);
    text-align: center;
    line-height: 60px;
    font-size: 16px;
}
